/* CSS styles */
body {
    background-image: url("money.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .container {
    justify-content: center;
    width: 550px;
    height: max-content;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .form-group {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 27px;
  }
  
  label {
    text-align: center;
    display: block;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 4px;
  }

  .divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }

  input[type="text"]{
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  input[type="number"] {
    width: 20%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .input-with-currency {
    display: flex;
    align-items: center;
  }
  
  .budget-input {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .salary-input {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .currency-symbol {
    font-size: 20px;
    margin-right: 8px;
  }

  .input-with-currency{
    justify-content: center;
  }

  button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #008000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  .buttons{
    display: inline-flex;
  }

  .buttons button {
    margin: 0 10px;
  }
  
  button:hover {
    background-color: #355E3B;
  }